<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <h1>My Skills</h1>
    <h3><%= skill.name %></h3>
    <h3>Description: <%= skill.description %></h3>
</body>
</html>